﻿<div cg-busy="promise"></div>
<div class="col-lg-12">
    <!--<div ng-if="validationMessage!=undefined" class="alert alert-danger" role="alert">{{validationMessage}}</div>-->
    <div class="container-fluid" ng-init="initPortfolioTable()">
        <div>

            <input class="form-control"
                   type="text"
                   placeholder="Portfolio Name"
                   ng-keyup="addOrCancelPortfolio($event,newPortfolio)"
                   ng-model="newPortfolio.Name"/>

        </div>
        
            <div ng-repeat="portfolio in portfoliosByUserId track by portfolio.PortfolioId">         
                <div class="col-md-3 portfolio-item">
                    <h3>
                        {{portfolio.Name}}
                    </h3>
                    <p ng-model="portfolio.CreatedDate">{{portfolio.CreatedDate}}</p>
                    <p ng-model="portfolio.ModifieDate">{{portfolio.ModifieDate}}</p>
                    <h5>
                        <span class="glyphicon glyphicon-modal-window"
                              ng-click="setPortfolioId(portfolio.PortfolioId)"></span>
                        <span class="glyphicon glyphicon-remove"
                              ng-click="deletePortfolio(portfolio)"></span>
                        <span class="glyphicon glyphicon-pencil"
                             ng-model="portfolio.Name"
                               ng-hide="portfolio.isInEdit"
                               ng-click="editPortfolio(portfolio)"></span>
                        <input pattern=".{4,25}"
                               class="form-control"
                               ng-model="portfolio.Name"
                               ng-show="portfolio.isInEdit"
                               ng-keyup="saveOrCancelPortfolio($event,portfolio)"
                               type="text"
                               value="{{portfolio.Name}}" />
                    </h5>
                   
                </div>
            </div>
        </div>
   </div>
