﻿<ul class="list-group list-unstyled">
    <li>
        <a href="#"
           class="list-group-item"
            ng-click="selectPortfolio(portfolio)"    
           ng-repeat="portfolio in portfolios">
           {{portfolio.Name}}          
        </a>
    </li>
</ul>