﻿<div class="form-group">
    <label for="portfolioSelect">Portfolio</label>
    <select id="portfolioSelect"
            class="form-control"
            ng-model="$parent.selectedPortfolio"
            ng-change="changePortfolio($parent.selectedPortfolio)"
            ng-options="item as item.Name for item in portfolios track by item.PortfolioId">
        <option disabled>Select</option>
        
    </select>
</div>
