﻿<div class="modal-header">
    <h3><i class="glyphicon glyphicon-pencil"></i>Add New Car</h3>
</div>
<div class="modal-body">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-xs-6">
                    <label>Car Name</label>
                    <input class="form-control" ng-model="car.Name" type="text" placeholder="Car Name"
                           value="car.Name" />
                </div>
                <div class="form-group col-xs-6">
                    <label>Car Model</label>
                    <input class="form-control" ng-model="car.Model" type="text" placeholder="Car Model"
                           value="car.Model" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group col-xs-6">
                        <label>State:</label>
                        <select id="carState"
                                class="form-control"
                                ng-model="car.State">
                            <option value="selected" disabled>Select</option>
                            <option ng-repeat="state in carStatesList">{{state.name}}</option>
                        </select>
                    </div>
                    <div class="form-group col-xs-6">
                        <label>Is Available:</label>
                        <input type="checkbox" ng-model="car.IsAvailable">
                    </div>
                    <input type="file" />
                </div>
                <div class="col-xs-6">
                    <div class="form-group col-xs-6">
                        <label>Car Year</label>
                        <select id="carYear"
                                class="form-control"
                                ng-model="car.Year">
                            <option value="selected" disabled>Select</option>
                            <option ng-repeat="year in years">{{year}}</option>
                        </select>
                    </div>
                    <div class="form-group col-xs-6">
                        <label>Car Type</label>
                        <input class="form-control" ng-model="car.Type" type="text" placeholder="Car Model"
                               value="car.Type" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" value="Cancel" ng-click="cancelForm()">
                        Cancel
                    </button>
                    <button ng-disabled="isDisabled" class="btn btn-primary" value="Submit" ng-click="submitForm()">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


