﻿<div cg-busy="promise"></div>
<div ng-init="initCars()" class="container-fluid">
    <div class="row text-center">
        <div ng-repeat="car in cars track by car.CarId">
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <!--<img src="http://placehold.it/800x500" alt="">-->
                    <div class="caption">
                        <h3>{{car.Name}}</h3>
                        <p ng-model="car.IsAvailable">{{car.IsAvailable}}</p>
                        <p ng-model="car.SubmittedDate">{{car.SubmittedDate}}</p>
                        <p ng-model="car.ModifiedDate">{{car.ModifiedDate}}</p>
                        <p ng-model="car.IsAvailable">{{car.IsAvailable}}</p>
                        <p>
                            <button ng-click="rentCar(car)" class="btn btn-primary">Rent Now!</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
