﻿<div class="modal-header">
    <h3>Edit This Car</h3>
</div>
<div class="modal-body">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-xs-4">
                    <label>Name:</label>
                    <input class="form-control" ng-model="car.Name" type="text"
                           value="car.Name" ng-change="enableSubmit()" />
                </div>
                <div class="form-group col-xs-4">
                    <label>Model:</label>
                    <input class="form-control" ng-model="car.Model" type="text"
                           value="car.Model" ng-change="enableSubmit()" />
                </div>
                <div class="form-group col-xs-4">
                    <label>Type:</label>
                    <input class="form-control" ng-model="car.Type" type="text"
                           value="car.Type" ng-change="enableSubmit()" />
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-4">
                    <label>Year:</label>
                    <div class="btn-group btn-block">
                        <button type="button"
                                class="btn btn-default btn-block dropdown-toggle"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            {{ car.Year }}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="year in years" ng-click="changeYear(year)">
                                <a href="#">
                                    {{ year }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group col-xs-4">
                    <label>State:</label>
                    <div class="btn-group btn-block">
                        <button type="button"
                                class="btn btn-default btn-block dropdown-toggle"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            {{ car.State }}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="state in carStatesList" ng-click="changeState(state)">
                                <a href="#">
                                    {{ State.name }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Periods/Price</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th>Start Date</th>
                                                <th>End Date</th>
                                                <th>Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="period in pricePeriods">
                                                <td>{{period.StartDatePeriod}}</td>
                                                <td>{{period.EndDatePeriod}}</td>
                                                <td>{{period.PriceValue}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <label>Period Start Date:</label>
                                <p class="input-group">
                                    <input type="text" class="form-control" datepicker-popup="{{calendar.dateFormat}}" ng-model="periodstartDate" is-open="calendar.opened.dob" datepicker-options="calendar.dateOptions" close-text="Close" placeholder="Start Date" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="calendar.open($event, 'dob')"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                            <div class="col-lg-4">
                                <label>Period End Date:</label>
                                <p class="input-group">
                                    <input type="text" class="form-control" datepicker-popup="{{calendar.dateFormat}}" ng-model="periodendDate" is-open="calendar.opened.win" datepicker-options="calendar.dateOptions" close-text="Close" placeholder="End Date" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="calendar.open($event, 'win')"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                            <div class="form-group col-xs-2">
                                <label>Price:</label>
                                <input class="form-control" ng-model="priceValue" type="text" />
                            </div>
                            <div class="form-group col-xs-2">
                                <span ng-click="addpriceperiod(car)"><i class="glyphicon glyphicon-plus-sign"></i></span>

                            </div>
                        </div>
                            </div>
                        </div>

                <div class="form-group col-xs-4">
                    <label>State:</label>
                    <div class="btn-group btn-block">
                        <button type="button"
                                class="btn btn-default btn-block dropdown-toggle"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            {{ car.State }}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="state in carStatesList" ng-click="changeState(state)">
                                <a href="#">
                                    {{ State.name }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <label>Attachments:</label>


                </div>
            </div>
        </div>
    </div>
</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" value="Cancel"
                ng-click="cancelForm()">
            Cancel
        </button>
        <button class="btn btn-primary" value="Submit"
                ng-click="submitForm()">
            Save
        </button>
    </div>
