﻿<div cg-busy="promise"></div>
<div ng-init="initCarsController()">
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Portfolio</h3>
            </div>
            <div>
                <div cg-busy="promise"></div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="portfolioSelect">Portfolio</label>
                        <select id="portfolioSelect"
                                class="form-control"
                                ng-model="selectedPortfolio"
                                ng-change="changePortfolio(selectedPortfolio)"
                                ng-options="item as item.Name for item in portfolios track by item.PortfolioId"></select>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button type="button" class="button button-default" ng-click="addCar()">Add New Car</button>
        </div>
    </div>
    <div class="col-xs-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Cars</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div cg-busy="promise"></div>
                        <div class="container-fluid">
                            <div ng-repeat="car in carsByPortfolio track by car.CarId">
                                <div class="col-md-3 portfolio-item">
                                    <h3>
                                        {{car.Name}}
                                    </h3>
                                    <span class="glyphicon glyphicon-pencil"
                                          ng-click="editCar(car)"></span>
                                    <span class="glyphicon glyphicon-remove"
                                          ng-click="deleteCar(car)"></span>
                                    <p ng-model="car.SubmittedDate">{{car.SubmittedDate}}</p>
                                    <p ng-model="car.ModifiedDate">{{car.ModifiedDate}}</p>
                                    <p ng-model="car.IsAvailable">{{car.IsAvailable}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>