﻿<div class="modal-header">
    <h3>Remove Car</h3>
</div>
<div class="modal-body">
    <p>Are you sure you want to delete this row? </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" value="Cancel"
            ng-click="cancelForm()">
        Cancel
    </button>
    <button class="btn btn-primary" value="Submit"
            ng-click="submitForm()">
        Yes
    </button>
</div>