﻿<div class="modal-header">
    <h3>Rent This Car</h3>
</div>
<div class="modal-body">
    <div cg-busy="promise"></div>
    <div class="panel panel-default" ng-init="pricePeriods()">
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-xs-4">
                    <label>Name:<input type="text" value="{{car.Name}}" readonly /> </label>
                </div>
                <div class="form-group col-xs-4">
                    <label>Model: <input type="text" value="{{car.Model}}" readonly /></label>
                </div>
                <div class="form-group col-xs-4">
                    <label>Type: <input type="text" value="{{car.Type}}" readonly /></label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="period in pp">
                                <td>{{period.StartDatePeriod}}</td>
                                <td>{{period.EndDatePeriod}}</td>
                                <td>{{period.PriceValue}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">Select Rent Period</div>
                            <div class="panel-body">
                                <div class="col-lg-6">
                                    <label>Period Start Date:</label>
                                    <p class="input-group">
                                        <input type="text" class="form-control" datepicker-popup="{{calendar.dateFormat}}" ng-model="periodstartDate" is-open="calendar.opened.dob" datepicker-options="calendar.dateOptions" close-text="Close" placeholder="Start Date" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="calendar.open($event, 'dob')"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </p>
                                </div>
                                <div class="col-lg-6">
                                    <label>Period End Date:</label>
                                    <p class="input-group">
                                        <input type="text" class="form-control" datepicker-popup="{{calendar.dateFormat}}" ng-model="periodendDate" is-open="calendar.opened.win" datepicker-options="calendar.dateOptions" close-text="Close" placeholder="End Date" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="calendar.open($event, 'win')"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </p>
                                </div>                                                      
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" value="Cancel"
                ng-click="cancelForm()">
            Cancel
        </button>
        <button class="btn btn-primary" value="Submit"
                ng-click="submitForm()">
            Rent 
        </button>
    </div>
