﻿<div class="modal-header">
    <h3>Error occured</h3>
</div>
<div class="modal-body">
    <p>Please remove all Cars before removing this Portfolio</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" value="Cancel"
            ng-click="closeForm()">
        Close
    </button>
</div>