﻿<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="home">
                Rent A Car
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li role="presentation" ui-sref-active="active">
                    <a id="home" ui-sref="home"><i class="glyphicon glyphicon-home"></i>Home</a>
                </li>
                <li role="presentation" ui-sref-active="active">
                    <a id="cars" ui-sref="cars" ng-if="isAuthenticated"><i class="glyphicon glyphicon-shopping-cart"></i>Cars</a>
                </li>
                <li role="presentation" ui-sref-active="active">
                    <a id="management" ui-sref="management.portfolio" ng-if="isAuthenticated && isAdmin"><i class="glyphicon glyphicon-th"></i> Management</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="!isAuthenticated" role="presentation" ng-controller="LoginController">
                    <a id="login"  ng-click="login()" ui-sref="login"><i class="glyphicon glyphicon-log-in"></i> Log In</a>
                </li>
                <li ng-if="isAuthenticated"  role="presentation" ng-controller="HomeController">
                    <a id="logout" ng-click="logout()" ui-sref="home"><i class="glyphicon glyphicon-log-out"></i> Log Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>